<form action="/after_contact" method="POST" id="contact" >

    <div class="form-group">
      <label for="exampleInputName">Name</label>
      <input type="name" class="form-control" id="exampleInputName" placeholder="Enter your name" name="name">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Enter your email" name="email">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="exampleInputPhoneNumber">Phone Number</label>
      <input type="Phone" class="form-control" id="exampleInputPhoneNumber" placeholder="Enter your phone number" name="PhoneNumber">
    </div>
    <div class="form-group">
      <label for="exampleInputMessage">Message</label>
      <input type="text" class="form-control" id="exampleInputMessage" placeholder="Type your query here" name="message">
    </div>
    <br>
    <br>
    <div class="form-check col-md-20 col-30 hero-text order-md-0 order-1 d-flex justify-content-center align-items-center flex-column">
      <button type="submit" class="contact_form" style="font-size:20px; color:black; height:50px;
      width:200px" id="submitted_value" value="Contact Us">Contact Us</button>
    </div>
</form>