<div class="row">
    <section class="col-md-10 mx-auto d-flex justify-content-center align-items-center flex-column">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d107421.53544712673!2d74.85996399999999!3d32.714674200000005!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x391e84bf169d3525%3A0xf233488eeb8fd8d!2sJammu!5e0!3m2!1sen!2sin!4v1679503463628!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </section>
</div>

